/* Predefined colors */
$text-default:   #555;
$pastel-white:   #ece9e9;
$pure-white:     #ffffff;
$dark:           #a49f9f;
$pastel-yellow:  #f5c944;
$full-black:     #232323;
$lighten-yellow: #f9df4b;
$pastel-red:     #d76767;
$pastel-green:   #79b17b;
$pastel-orange:  #e9ddc1;
