/* Imports and configuration */
@use '../abstract/colors' as *;

/* Footer styles */
.footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 30px; 
    background-color: $full-black; 
    color: $pastel-white; 
    gap: 0.5rem;
}

/* Footer links list styling */
.footer-links-list {
    list-style-type: none; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    gap: 20px; 
}

/* Footer link item styling */
.footer-link-item {
    display: flex;
    align-items: center;
}

/* Footer link styling */
.footer-link {
    color: rgba($pastel-white, 0.7);
    text-decoration: none; 
    display: flex;
    align-items: center; 
    gap: 5px;

    &:hover {
        color: $pastel-white;
    }
}

/* Footer copyright text styles */
.footer-copyright {
    text-align: center; 
    font-size: 0.875rem; 
    color: $dark; 
}

/* Button styles */
.coffee-btn {
    background: $full-black;
    color: $pastel-white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10.0em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em $full-black;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
.coffee-btn .icon {
    background: $pastel-white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 10.0em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em $full-black;
    right: 0.3em;
    transition: all 0.3s;
}

.coffee-image {
    height: 24px;
    width: 24px;
    border-radius: 10.0em;
}
  
.coffee-btn:hover .icon {
    width: calc(100% - 0.6em);
}

.coffee-btn .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: $full-black;
}

.coffee-btn:hover .icon svg {
    transform: translateX(0.1em);
}

.coffee-btn:active .icon {
    transform: scale(0.95);
}

