/* Imports and configuration */
@use '../abstract/colors' as *;

/* Section container */
.section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    text-align: center; 

    @media (max-width: 768px) {
        padding-top: 2.0rem;
    }
}

/* Text content styles */
.section-text {
    margin-top: 4.0rem;

    @media (max-width: 768px) {
        margin-top: 1.5rem;
    }

    @media (max-width: 480px) {
        margin-top: 1.0rem;
    }
}

.section-title {
    margin: 0;
    font-size: clamp(1.5rem, 7.2vw, 4.0rem);
    font-weight: bold;
    font-family: 'Moirai One', 'Open Sans', sans-serif;
}

.section-description {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 1.0rem;

    @media (max-width: 768px) {
        max-width: 400px;
    }

    @media (max-width: 480px) {
        max-width: 300px;
    }
}

/* Button styles */
.section-button {
    margin-top: 2.1rem;

    @media (max-width: 480px) {
        margin-top: 1.6rem;
    }

    background: $full-black;
    color: $pastel-white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em $full-black;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
.section-button .icon {
    background: $pastel-white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em $full-black;
    right: 0.3em;
    transition: all 0.3s;
}
  
.section-button:hover .icon {
    width: calc(100% - 0.6em);
}

.section-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: $full-black;
}

.section-button:hover .icon svg {
    transform: translateX(0.1em);
}

.section-button:active .icon {
    transform: scale(0.95);
}
