/* Imports and configuration */
@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;

/* Main container for the profile page layout */
.profile-page {
    background-image: url('../../assets/images/svgs/profile-page.svg');
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5.0rem;
}

/* Profile card section */
.profile-card {
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 6.2rem;
    margin-bottom: 1.5rem;

    /* Responsive adjustments for smaller screens */
    @media (max-width: 768px) {
        margin-top: 5.8rem;
    }

    @media (max-width: 480px) {
        margin-top: 4.0rem;
    }

    /* Styling for the profile picture container */
    .profile-image-container {
        &:hover {            
            .flower-image {
                opacity: 0.25;
            }

            .edit-image-icon {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }

        .edit-image-icon {
            display: none;
        }

        .flower-image {
            width: 200px;
            height: 200px;
            mask-image: url('../../assets/images/svgs/profile-pic-shape.svg');
            -webkit-mask-image: url('../../assets/images/svgs/profile-pic-shape.svg');
            mask-size: cover;
            -webkit-mask-size: cover;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-position: center;
            overflow: hidden;
        }
        
        /* Ensures the profile picture fills the container and scales appropriately */
        .flower-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: whitesmoke;
        }
    }

    /* Displays activity stats like polls and votes */
    .activity-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        align-items: center;

        p {
            font-weight: bold;
        }
    }

    /* Styling for the username displayed below the profile picture */
    .username {
        margin-top: 2.5rem;
    }

    /* Styling for the 'Edit Profile' button */
    .edit-profile-button {
        margin-top: 1.5rem;
        @include button-styles(0.9em);
    
        .icon {
            @include button-icon-styles(0.7em);
        }
    
        &:hover .icon {
            width: calc(100% - 0.6em);
        }
    }
}

/* Styling for polls and votes sections */
.polls-window, .votes-window {
    padding: 6.0rem 2.3rem 0.0rem 2.3rem;
    background-image: url('../../assets/images/svgs/polls-window.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    aspect-ratio: 600 / 374;
    width: 80%;
    max-width: 800px;
    overflow: hidden;

    /* Responsive adjustments for different screen sizes */
    @media (max-width: 1000px) {
        width: 80%;
        padding: 5.5rem 2.0rem 0.0rem 2.0rem;
    }   

    @media (max-width: 750px) {
        width: 80%;
        padding: 4.0rem 1.5rem 0.0rem 1.5rem;
        background-image: none;
        aspect-ratio: auto;
    }

    @media (max-width: 500px) {
        width: 80%;
        padding: 3.2rem 1.5rem 0.4rem 1.5rem;
    }

    /* Header section of the polls window */
    .polls-header {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title {
            font-weight: bold;
            font-size: 1.3rem;
        }

        .polls-options {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        @media (max-width: 750px) {
            padding-bottom: 12px;
            border-bottom: 2px solid black;
        }
    }
    
    /* Custom scrollbar styles for the polls container */
    .polls-container::-webkit-scrollbar {
        display: none;
    }

    .polls-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 75%;
        margin-top: 20px;
        flex-grow: 1; 
        overflow-y: auto;
        scrollbar-width: none; 
        -ms-overflow-style: none;

        /* Styling for an empty polls message */
        .no-polls-info {
            align-self: center;
            text-align: center;
        }

        @media (max-width: 450px) {
            margin-top: 15px;
        }

        background-color: transparent;

        /* Styling for individual poll buttons */
        .poll-btn {
            width: 100%;
            justify-content: space-between;
            flex-shrink: 0;
            @include button-styles(0.9em);

            .poll-question {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                gap: 12px;

                .question {
                    flex-grow: 1;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .poll-info {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                .icon {
                    @include button-icon-styles(0.6em);
                }
            
                &:hover .icon {
                    width: calc(100% - 0.6em);
                }
            }
        }
    }
}

.polls-window {
    @media (max-width: 750px) {
       margin-bottom: 20px;
    }
}

.MuiDialog-paper {
    background-color: rgba(black, 0.85) !important;
    color: $pastel-white !important;
    font-family: inherit !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    overflow-y: scroll !important;
}

.MuiDialog-paper::-webkit-scrollbar {
    display: none; 
}

.MuiDialog-paper {
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
}

/* Poll information dialog style */
.poll-dialog {
    margin-left: auto;
    margin-right: auto;

    .poll-dialog-content {
        max-width: 80vw;

        .dialog-title {
            font-size: 1.4em;
            font-family: inherit !important;
            word-wrap: break-word;
        }

        .dialog-description {
            word-wrap: break-word;
        }

        .dialog-poll-description {
            margin-top: 40px;
            margin-left: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            
            .chip {
                color: $pastel-white;
                padding: 5px;
            }
        }

        .dialog-poll-topics {
            margin-top: 30px;
            margin-bottom: 40px;
            gap: 14px;

            .dialog-topic-chip {
                color: $pastel-white;
                padding: 5px;
            }
        }

        .dialog-poll-values {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            .dialog-poll-value {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 10.0em;
                font-size: 14px;
                gap: 10px;

                .value-name {
                    word-wrap: break-word !important;
                    max-width: 80% !important;
                }

                .value-votes {
                    flex-wrap: nowrap !important;
                }
            }
        }

        .dialog-chart {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            max-width: 600px !important;
            margin-left: auto;
            margin-right: auto;

            .bar {
                min-height: 50px !important;
            }

            svg {
                transform: scale(1.37) !important;
            }
        }
    }

    .btn-close {
        color: $pastel-white;
        border-radius: 10.0rem;
        padding: 10px 20px 10px 20px;
    }
}

/* Confirm poll deletion dialog style */
.confirm-delete-dialog {
    .dialog-question {
        font-family: inherit !important;
    }

    .delete-dialog-btn {
        color: $pastel-white !important;
        border-radius: 10.0rem !important;
        padding: 10px 20px 10px 20px !important;
    }
}
