/* Imports and configuration */
@use '../abstract/colors' as *;

/* Main container for the signup page layout */
.signup-page {
    background-image: url('../../assets/images/svgs/signup-page.svg');
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 800px;
}
