/* Imports and configuration */
@use '../abstract/colors' as *;

/* Styles for the form card container */
.form-card {
    margin-top: 6.0rem;

    @media (max-width: 768px) {
        margin-top: 5.0rem;
    }

    @media (max-width: 480px) {
        margin-top: 6.0rem;
    }

    background: transparent;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .form-title {
        font-size: clamp(1.5rem, 6.9vw, 4.0rem);
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-bottom: 1.0rem;
    }

    .form-footer {
        color: rgba($full-black, 0.6);

        a {
            text-decoration: none;
            color: $full-black;
            font-weight: 500;
        }
    }
}

/* Styles for the form container */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.6rem;

    .form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

        .input-wrapper {
            position: relative; 

            &:focus-within {
                .input-icon {
                    color: $full-black;
                }
            }

            .error-message {
                color: rgba($full-black, 0.6);
                font-weight: 500;
                font-size: 0.875rem;
                margin-top: 0.7rem;
                text-align: center;
            }

            .input-icon {
                color: rgba($full-black, 0.6);
                position: absolute;
                margin-left: 17px;
                margin-top: 12px;
            }
        
            input {
                padding-left: 42px;
                padding-right: 18px;
                background-color: transparent;
                border: 2px solid rgba($full-black, 0.6);
                font-size: 1rem;
                outline: none;
                border-radius: 10.0rem;
                transition: border-color 0.3s ease;
                width: 250px;
                padding-bottom: 10px;
                padding-top: 10px;
                color: rgba($full-black, 0.6);

                @media (max-width: 480px) {
                    width: 200px;
                }

                @media (max-width: 320px) {
                    width: 180px;
                }

                &:focus {
                    outline: none;
                    border-color: $full-black;
                    color: $full-black;
                }
            }
        }
    }
}

/* Styles for placeholder text inside form inputs */
::placeholder {
    color: rgba($full-black, 0.6);
}
